<div class="main">
  <div>
    <div class="booking-container">
      <h1 class="booking-title">Seat Booking</h1>
      <div class="input-group">
        <label for="seatsInput" class="seats-label">Number of Seats:</label>
        <input 
          #seatsInput 
          type="number" 
          min="1" 
          max="7" 
          class="seats-input"
        />
        <button 
          (click)="bookSeats(seatsInput.value)" 
          class="book-button"
        >
          Book
        </button>
        <button 
          (click)="resetSeats()" 
          [disabled]="totalSeatRemaining == 80"
          [class.disabled]="totalSeatRemaining === 80"
          class="reset-button"
        >
          Reset Seats
        </button>
      </div>
    </div>
    
    <div class="seats-container">
      <h2 class="seats-title">Seat Availability</h2>
      <div class="seats-grid">
        @for (seat of seats; track seat.id) {
          <span 
            [class.booked]="seat.is_booked"
            class="seat"
          >
            Row {{ seat.row_number }} Seat {{ seat.seat_number }}
          </span>
        }
      </div>
    </div>
  </div>
</div>
<router-outlet />